/* ===== VARIÁVEIS ===== */
:root {
  --preto: #0b0f14;
  --azul: #2563eb;
  --azul-glow: #38bdf8;
  --cinza: #9ca3af;
  --branco: #ffffff;
}

/* ===== ESTILO GERAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.btn-abrir-menu {
  justify-self: end;
}


body {
  background-color: var(--preto);
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* ===== BOTÕES ===== */
.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(135deg, var(--azul), var(--azul-glow));
  color: var(--branco);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover,
form .btn-enviar input:hover {
  box-shadow: 0 0 15px var(--azul-glow);
  transform: scale(1.05);
}

/* ===== TÍTULOS ===== */
h2.titulo {
  color: var(--branco);
  font-size: 38px;
  text-align: center;
}

h2.titulo span {
  color: var(--azul);
}
/* ===== HEADER ===== */
header {
  padding: 4px 4%;
}
.logo img {
  margin-left: -41px;
}

header > .interface {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
header nav.menu-desktop {
  justify-self: center;
}

header a {
  color: var(--cinza);
  text-decoration: none;
  transition: 0.2s;
}

header nav.menu-desktop a:hover {
  color: var(--branco);
  transform: scale(1.05);
}

header nav.menu-desktop ul {
  display: flex;
  align-items: center;
  gap: 90px;
  list-style: none;
}

header nav.menu-desktop ul li {
  padding: 0;
  margin: 0;
}

/* ===== MENU MOBILE ===== */
.btn-abrir-menu {
  display: none;
}

.btn-abrir-menu i {
  color: var(--azul);
  font-size: 40px;
}

.menu-mobile {
  background-color: var(--preto);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: 0.5s;
}

.menu-mobile.abrir-menu {
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile .btn-fechar {
  padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
  color: var(--azul);
  font-size: 30px;
}

.menu-mobile nav ul {
  text-align: right;
}

.menu-mobile nav ul li a {
  color: var(--branco);
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li a:hover {
  background-color: var(--azul);
  color: var(--preto);
}

.overlay-menu {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

/* ===== TOPO DO SITE ===== */
section.topo-do-site {
  padding: 20px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: var(--branco);
  font-size: 42px;
  line-height: 40px;
  margin-bottom: 20px;
}

.topo-do-site h1 span {
  color: var(--azul);
}

.topo-do-site p {
  color: var(--cinza);
  margin: 20px 0;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* ===== ESPECIALIDADES ===== */
section.especialidades {
  padding: 40px 4%;
}

section.especialidades .flex {
  gap: 60px;
}

.especialidades .especialidades-box {
  color: var(--branco);
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(56, 189, 248, 0.2);
  transition: 0.3s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.3);
}

.especialidades .especialidades-box i {
  font-size: 70px;
  color: var(--azul);
}

.especialidades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/* ===== SOBRE ===== */
section.sobre {
  padding: 80px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}
.sobre img {
  border-radius: 10px;
}

.sobre .txt-sobre {
  color: var(--branco);
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: var(--azul);
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #111827;
  color: var(--azul-glow);
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.2s;
}

.btn-social button:hover {
  box-shadow: 0 0 15px var(--azul-glow);
}
/* ===== TECNOLOGIAS ===== */
section.tecnologias {
  padding: 80px 4%;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  justify-items: center;
  margin-top: 40px;
}

.tech-box {
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(56, 189, 248, 0.25);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
}

.tech-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.35);
}

.tech-box i {
  font-size: 48px;
  margin-bottom: 12px;
}

.tech-box span {
  color: var(--branco);
  font-size: 15px;
  text-align: center;
}

h2.ferramentas {
  margin-top: 80px;
}

/* ===== PORTFÓLIO ===== */
section.portfolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.08);
}

section.portfolio .flex {
  justify-content: space-around;
  margin-top: 60px;
}

.img-port {
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 8s;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(11, 15, 20, 0.9);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: var(--azul-glow);
  opacity: 0;
  transition: 0.5s;
}

.img-port:hover .overlay {
  opacity: 1;
}

/* ===== FORMULÁRIO ===== */
section.formulario {
  padding: 80px 4%;
}

form {
  max-width: 500px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
form textarea {
  background-color: #111827;
  border: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: var(--branco);
  font-size: 18px;
}

form textarea {
  resize: none;
  max-height: 200px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input {
  width: 120px;
  background: linear-gradient(135deg, var(--azul), var(--azul-glow));
  color: var(--branco);
  font-weight: 700;
  cursor: pointer;
}

/* ===== FOOTER ===== */
footer {
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.08);
}
footer img {
  height: 200px; /* ajuste para a altura que quiser */
  width: auto; /* mantém a proporção da imagem */
  display: block; /* remove espaços extras */
}

footer .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px; /* ou a altura que preferir */
}

.footer-nome {
  margin-left: 40px; /* opcional, para afastar da borda */
}

.btn-social {
  margin-right: 40px; /* opcional, para afastar da borda direita */
}

footer .line-footer {
  padding: 20px 0;
}

.borda {
  border-top: 2px solid var(--azul);
}

footer p i {
  color: var(--azul);
  font-size: 22px;
}

footer p a {
  color: var(--branco);
}

/* ===== DESKTOP MENOR / NOTEBOOK ===== */
@media screen and (max-width: 1200px) {
  header {
    padding: 10px 5%;
  }


  .tech-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .btn-social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .btn-social a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer .flex {
    height: auto;
    align-items: center;
    justify-content: center;
  }

  footer .btn-social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 50px;
  }
  .logo-footer {
    margin-left: 25px;
  }
}
/* ===== TABLET ===== */
@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .topo-do-site .flex {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .menu-desktop {
    display: none;
  }

  .btn-abrir-menu {
    display: block;
  }

  h1 {
    font-size: 2.2rem;
  }

  .especialidades-box {
    max-width: 360px;
  }

  .tech-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .img-topo-site img {
    width: 260px;
  }

  footer .flex {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
}
/* ===== CELULAR ===== */
@media screen and (max-width: 480px) {

  .topo-do-site {
    padding-top: 100px;
  }

    .sobre img {
    width: 220px;   /* diminui a imagem */
    max-width: 100%;
    height: auto;
  }

  .txt-topo-site h1 {
    font-size: 26px;
    line-height: 1.25;
    margin-bottom: 16px;
  }

  .txt-topo-site p {
    font-size: 14px;
    line-height: 1.6;
  }

  .img-topo-site img {
    width: 220px;
  }
}
